.header-content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;

    .support-box {
        display: flex;
        flex-direction: row;
        align-items: center;

        .person-icon, .help-icon {
            font-size: 24px;
            color: white;
            margin-left: 30px;
            font-style: normal;
        }

        .box-text {
            font-size: 18px;
            color: white;
            margin-left: 10px;
        }
    }

    .gift-icon, .mega-icon {
        font-size: 24px;
        color: white;
        margin-left: 30px;
        font-style: normal;
    }
}


